#s_form {
    position: relative;
    text-align: center;  
    margin-top: 20%;
    border: none; 
}

.field {
    height: 44px;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px;
    border-width: 1px;
    outline: none;
    padding-left: 5%;
}

.a_field {
    width: 60%;
    outline-color: #069efd;
}

#a_form {
    border: none;
}

#a_submit {
    margin: 3%;
}

.btn-primary, .btn-secondary {
    width: auto;
    border-radius: 5px;
    padding: 3px 5px;
}

#right {
    text-align: right;
}

h3 {
    color: red;
    margin: 4%;
    padding-top: 5%;
    padding-bottom: 5%;
}

h5 {
    margin: 3%;
    padding-bottom: 4%;
}

p {
    margin: 14%;
    white-space: nowrap;
}